*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bai Jamjuree', sans-serif;
    
}

:root{
    --color-Strong-Cyan: hsl(171, 66%, 44%);
    --color-Light-Blue: hsl(233, 100%, 69%);

    --color-Dark-Grayish-Blue: hsl(210, 10%, 33%);
    --color-Grayish-Blue: hsl(201, 11%, 66%);
}

