body{
    background-image: url(../images/bg-header-desktop.png);
    background-repeat: no-repeat;
}

.first-section{
    width: 520px;
    text-align: center;
    margin-inline: auto;
}
.first-section img{
    width: 80px;
    height: 80px;
    margin: 35px;
}
.main-title{
    font-size: 32px;
    margin: 10px;
    color: var(--color-Dark-Grayish-Blue);
    
}
p{
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
    color: var(--color-Grayish-Blue);
    
}
.button{
    font-weight: 600;
    width: 150px;
    height: 40px;

    border-radius: 30px;
    border: none;
    box-shadow: 0px 2px hsl(171, 73%, 23%);

    margin-left: 8px;
    margin-top: 30px;
    margin-bottom: 15px;

    color: white;
    background-color: var(--color-Strong-Cyan);
    cursor: pointer;

}
.button:hover{
    filter: brightness(1.1);
}
.button.-mac-color{
    background-color: var(--color-Light-Blue);
    box-shadow: 0px 2px hsl(233, 95%, 59%);
}

.sub-title{
    margin-top: 60px;
    font-size: 25px;
    font-weight: 600;
    color: var(--color-Dark-Grayish-Blue);
}

.second-section{
    display: flex;
    margin-top: 40px;
}
.second-section article{
    margin-top: 100px ;
    width: 350px;
    margin-inline: auto;
    line-height: 30px;
}
.second-section img{
    width: 700px;
    height: 560px;
    margin-top: 40px;
}
.second-section h3{
    color: var(--color-Dark-Grayish-Blue);
}

.third-section{
    text-align: center;
    margin-top: 90px;
}
.third-section img{
    width: 700px;
    height: 460px;
    margin-top: 60px;
}
.third-section p{
    margin-inline: auto;
    width: 600px;
}

.fourth-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fourth-section div{
    display: flex;
    margin-top: 60px;
}

.fourth-section article{
    width: 330px;
    text-align: center;
    margin: 20px;
}
.fourth-section h2, p{
    line-height: 1.8;
}

.logo-companies{
    margin-top: 60px;
    width: 1100px;
    margin-inline: auto;
}

.logo-companies img{
    margin-left: 30px;
    margin-right: 30px;
}

.fifth-section{
    width: 600px;
    text-align: center;
    margin-inline: auto;
    margin-top: 80px;
    margin-bottom: 80px;
}
















.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}